Repository gyrgy/deep-case-crafter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-cache, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix --max-warnings=0 --no-cache",
  "*.{json,md}": "prettier --write"
}

test: trigger workflow
  dummy.txt
Due: none

jest config udpate
  jest.config.js
Due: eslint --fix --max-warnings=0 --no-cache

qc wf update
  .github/workflows/qc.yaml
Due: none

keywords and readme update
  package.json
  readme.md
Due: prettier --write

keywords and readme update (#2)
  package.json
  readme.md
Due: prettier --write
